# **Data Structure**
Data structure is a fundamental concept in programming, which is required for easily storing and retrieving data. Python has four main data structures split between mutable (lists, dictionaries, and sets) and immutable (tuples) types.
* List
* Tuple
* Sets
* Dictionary

### **1. List:**

***Definition***:-  
A list is a mutable, ordered collection of elements. It is defined using square brackets [ ].

***Declaration***:-  
my_list = [1, 2, 3, 'hello', 4.5]

In [1]:
a=[5,5.2,'man',False,2+3j]
print(type(a)) #used to identify the type of a
print(a)

<class 'list'>
[5, 5.2, 'man', False, (2+3j)]

In [2]:
print("Length of a is ",len(a)) #used to identify the lenght of a

Length of a is  5

In [3]:
print(a[1]) #list is indexable

5.2

In [4]:
print(a[-2]) #indexing is possible in both left to right and right to left

False

In [5]:
a.append(70) #used to add values in list
print(a)

[5, 5.2, 'man', False, (2+3j), 70]

In [6]:
a.append([3,4,5]) #Nested List is allowed
print(a)

[5, 5.2, 'man', False, (2+3j), 70, [3, 4, 5]]

In [7]:
a.extend([3,4,5])  #Adding multiple value in the list is possible
print(a)

[5, 5.2, 'man', False, (2+3j), 70, [3, 4, 5], 3, 4, 5]

In [8]:
a.insert(5,"world") #Insert a value in the middle of the list using index number
print(a)

[5, 5.2, 'man', False, (2+3j), 'world', 70, [3, 4, 5], 3, 4, 5]

In [9]:
print(a.pop(7)) #pop is used to take any value from a list using index
print(a)

[3, 4, 5]
[5, 5.2, 'man', False, (2+3j), 'world', 70, 3, 4, 5]

In [10]:
a.remove('world') #remove is used to remove a value from a list
print(a)

[5, 5.2, 'man', False, (2+3j), 70, 3, 4, 5]

In [11]:
a.reverse() #reverse function is used to reverse a list
print(a)

[5, 4, 3, 70, (2+3j), False, 'man', 5.2, 5]

In [12]:
a.reverse()
print(a)

[5, 5.2, 'man', False, (2+3j), 70, 3, 4, 5]

In [13]:
a.clear()
print(a)

[]

In [14]:
b=[5,11,2,21,9,1,4]
print(b.pop(3)) #pop before sort the list

21

In [15]:
b.sort() # Arrange values in ascending order
print(b)

[1, 2, 4, 5, 9, 11]

In [16]:
b.pop(3) #pop after sort the list

5

### **2. Tuples:**

***Definition***:-  
A tuple is an immutable, ordered collection of elements. It is defined using parentheses ().  
***Declaration***:-  
my_tuple = (1, 2, 'hello', 4.5)

In [17]:
#Various methods of tuples implementation
c=(12,2.4,'ABC',True,1+2j)
print('c : ',type(c)) #used to identify the type of c
d=12,2.4,'ABC',True,1+2j
print('d : ',type(d)) #used to identify the type of d
e=(12,)
print('e : ',type(e)) #used to identify the type of e
f=(12)
print('f : ',type(f)) #used to identify the type of f

c :  <class 'tuple'>
d :  <class 'tuple'>
e :  <class 'tuple'>
f :  <class 'int'>

In [18]:
mark=(59,65,85,65,74)
type(mark)

tuple

In [19]:
mark.index(74) #used to identify the position of value in mark

4

In [20]:
mark.count(65) #used to identify the Duplicate value in mark

2

In [21]:
len(mark)

5

In [22]:
sum(mark)

348

In [23]:
min(mark)

59

In [24]:
max(mark)

85

In [25]:
#Concatenation of 2 tuples

m1=(77,34,54,65)
m2=(82,76,98,53)
tot=m1+m2  #Concatenation
print(tot)
len(tot)

(77, 34, 54, 65, 82, 76, 98, 53)

8

In [26]:
# Nested Tuples
g=(1,3,2,[6,4,5],7)
len(g)

5

In [27]:
len(g[3])

3

In [28]:
g[3][2]

5

### **3. Sets**:

***Definition***:-  
A set is an unordered collection of unique elements. It is defined using curly braces { }.  
***Declaration***:-  
my_set = {1, 2, 3, 'hello', 4.5}

In [29]:
h={2,3,5,6,7,8,3}

In [30]:
print(h)

{2, 3, 5, 6, 7, 8}

In [31]:
h.add('Num')
print(h)

{2, 3, 5, 6, 7, 8, 'Num'}

In [32]:
i={'orange','mango'}
h.update(i)
print(h)

{2, 3, 5, 6, 7, 8, 'Num', 'orange', 'mango'}

In [33]:
h.discard('Num')

In [34]:
h.remove('mango')

In [35]:
h

{2, 3, 5, 6, 7, 8, 'orange'}

In [36]:
h.remove('orange')

In [37]:
h

{2, 3, 5, 6, 7, 8}

In [38]:
j=h.pop()
print(j)

2

In [39]:
#loop the set values
for x in h:
  print(x)

3
5
6
7
8

In [40]:
k={'a','b','c'}
l={3,2,1}
m=k.union(l)
print(m)

{1, 2, 3, 'a', 'c', 'b'}

In [41]:
n={'a','b','c'}
o={3,2,1}
n.update(o)
print(n)

{1, 2, 3, 'a', 'c', 'b'}

In [42]:
p = {"apple", "banana", "cherry"}
q = {"google", "microsoft", "apple"}
r=p.intersection(q)
print(r)

{'apple'}

In [43]:
p = {"apple", "banana", "cherry"}
q = {"google", "microsoft", "apple"}
p.intersection_update(q)
print(p)

{'apple'}

In [44]:
s = {"red", "black", "grey"}
t = {"blue", "grey", "yellow"}
u=s.symmetric_difference(t)
print(u)

{'yellow', 'blue', 'red', 'black'}

In [45]:
s = {"red", "black", "grey"}
t = {"blue", "grey", "yellow"}

s.symmetric_difference_update(t)

print(s)

{'yellow', 'blue', 'red', 'black'}

In [46]:
u = {"apple", "banana", "cherry", True}
v = {"google", 1, "apple", 2}
w = u.symmetric_difference(v)
print(w) #True and 1 is considered the same value

{2, 'cherry', 'google', 'banana'}

### **4. Dictionaries**:

***Definition***:-  
A dictionary is an unordered collection of key-value pairs. It is defined using curly braces { } with colon : separating keys and values.  
***Declaration***:-  
my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}

In [47]:
store={"brand":"Haldirams","flavour":"Pajabi tadka","price":10}
print(store)
print(type(store))

{'brand': 'Haldirams', 'flavour': 'Pajabi tadka', 'price': 10}
<class 'dict'>

In [48]:
print(store['brand'])

Haldirams

In [49]:
print(len(store))

3

In [50]:
store={"brand":"Haldirams","flavour":"Pajabi tadka","price":10,'colors':['red','yellow','blue']}

In [51]:
print(store)

{'brand': 'Haldirams', 'flavour': 'Pajabi tadka', 'price': 10, 'colors': ['red', 'yellow', 'blue']}

In [52]:
x=store['flavour']
x

'Pajabi tadka'

In [53]:
x=store.get('flavour')
x

'Pajabi tadka'

In [54]:
store={"brand":"Haldirams","flavour":"Pajabi tadka","price":10}
store

{'brand': 'Haldirams', 'flavour': 'Pajabi tadka', 'price': 10}

In [55]:
x=store.keys()
print(x) #before the change
store['color']='Red'
print(x) #after the change

dict_keys(['brand', 'flavour', 'price'])
dict_keys(['brand', 'flavour', 'price', 'color'])

In [56]:
store

{'brand': 'Haldirams', 'flavour': 'Pajabi tadka', 'price': 10, 'color': 'Red'}

In [57]:
y=store.values()
y

dict_values(['Haldirams', 'Pajabi tadka', 10, 'Red'])

In [58]:
x

dict_keys(['brand', 'flavour', 'price', 'color'])

In [59]:
x=store.values()
store["price"]=45
print(x)

dict_values(['Haldirams', 'Pajabi tadka', 45, 'Red'])

In [60]:
x=store.items()
x

dict_items([('brand', 'Haldirams'), ('flavour', 'Pajabi tadka'), ('price', 45), ('color', 'Red')])

In [61]:
store

{'brand': 'Haldirams', 'flavour': 'Pajabi tadka', 'price': 45, 'color': 'Red'}

In [62]:
store.update({'price':10})

In [63]:
store

{'brand': 'Haldirams', 'flavour': 'Pajabi tadka', 'price': 10, 'color': 'Red'}

In [64]:
for x in store:
  print(x) # to get key using for loop

brand
flavour
price
color

In [65]:
for x in store:
  print(store[x]) # to get values using for loop

Haldirams
Pajabi tadka
10
Red

In [66]:
for x in store.values():
  print(x)

Haldirams
Pajabi tadka
10
Red

In [67]:
for x in store.keys():
  print(x)

brand
flavour
price
color

In [68]:
for x,y in store.items():
  print(x,y)

brand Haldirams
flavour Pajabi tadka
price 10
color Red

In [69]:
# Copy a Dictionary
model={"brand":"Ford","Model":"Mustang","Year":"2002"}
mydict=dict(model)
print(mydict)

{'brand': 'Ford', 'Model': 'Mustang', 'Year': '2002'}

In [71]:
# Nested Dictionary
myfamily = {"child1" : {"name" : "Emil","year" : 2004},"child2" : {"name" : "Tobias","year" : 2007},"child3" : {"name" : "Linus","year" : 2011}}
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [73]:
# Add 3 dictionaries into a new dictionary

stud1 = {'name':'Kumar','year':2000}
stud2 = {'name':'Raj','year':2006}
stud3 = {'name':'Mani','year':2002}
myclass={'stud1':stud1,'stud2':stud2,'stud3':stud3}
print(myclass)

{'stud1': {'name': 'Kumar', 'year': 2000}, 'stud2': {'name': 'Raj', 'year': 2006}, 'stud3': {'name': 'Mani', 'year': 2002}}

In [74]:
print(myclass['stud3']['name'])

Mani

In [80]:
myclass.items()

dict_items([('stud1', {'name': 'Kumar', 'year': 2000}), ('stud2', {'name': 'Raj', 'year': 2006}), ('stud3', {'name': 'Mani', 'year': 2002})])