#**Variable** :-  
1. A variable name must start with a letter or the underscore character.(A-Z,_)
2. A variable name cannot start with a number.(0-9)
3. A variable name cannot be any of the Python keywords.
4. Variable names are case-sensitive(age,Age,AGE)

In [1]:
myname="Kumar"
print(myname)

Kumar

Python allows you to assign values to multiple variables in one line

In [2]:
x,y,z='Sunday','Monday','Tuesday'
print(x)
print(y)
print(z)

Sunday
Monday
Tuesday

In [3]:
# Unpack a Collection

sports=['cricket','chess','carrom']
x,y,z=sports
print(x)
print(y)
print(z)

cricket
chess
carrom